{% load static %}

<div class="container-fluid p-0">
  <div class="nav col">
    <img src="{% static 'images/title.png' %}" alt="" class="title row">
    <ul class="mb-1 row">
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/overview.svg' %}" alt="">Over View</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/calender.svg' %}" alt="">Calender</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/activity.svg' %}" alt="">Activity</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/projects.svg' %}" alt="">Projects</button>
      </li>
      <li class="justify-content-center"><hr style="width:100%; opacity:0.1;"></li>
    </ul>
    <ul class="mb-1 mt-0 align-items-stretch row">
      <li>
        <div class="d-flex flex-row justify-content-between sidebar-title">
          <h6 class="">PROJECTS</h4>
          <img src="{% static 'images/plus.svg' %}" alt="">
        </div>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/proj1.svg' %}" alt="">Project Num1</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/proj1.svg' %}" alt="">Project Num2</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0">
          <img class="proj" src="{% static 'images/proj1.svg' %}" alt=""></i>Project Num3</button>
      </li>

      <li class="justify-content-center"><hr style="width:100%; opacity:0.1;"></li>
    </ul>
    
    <ul class="mb-1 mt-0 align-items-stretch row">
      <li>
        <div class="d-flex flex-row justify-content-between sidebar-title">
          <h6 class="">TASKS</h4>
            <img src="{% static 'images/plus.svg' %}" alt="">
        </div>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0"><img class="proj" src="{% static 'images/task4.svg' %}" alt="">Over View</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0"><img class="proj" src="{% static 'images/task2.svg' %}" alt="">Calender</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0"><img class="proj" src="{% static 'images/task3.svg' %}" alt="">Activity</button>
      </li>
      <li>
        <button class="btn btn-primary sidebar-btn bg-white text-black-50 border-0"><img class="proj" src="{% static 'images/task1.svg' %}" alt="">Projects</button>
      </li>
    </ul>
  </div>
</div>
